.layout {
  display: flex;
  height: 100vh;
  background: #908f8f;
}

.placeholder {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
