#WEB
WEB_HOST=YOUR_HOST
WEB_PORT=YOUR_PORT
DEBUG=True
API_VERSION=v1
ALLOWED_ORIGINS=http://localhost:5173,

#DB
DB_HOST=YOUR_HOST
DB_PORT=5432
DB_NAME=web_chat
DB_USER=YOUR_USER
DB_PASSWORD=YOUR_PASSWORD
DB_DRIVER=postgresql+asyncpg

#REDIS
REDIS_HOST=YOUR_HOST
REDIS_PORT=YOUR_PORT
REDIS_DB=0

#AUTH
AUTH_SECRET_KEY=YOUR_KEY
AUTH_ALGORITHM=HS256

# SAVE_FILES
URL_SAVE_FILE=infrastructure/files_work/files/
CHUNK_SIZE=524288
URL_STORAGE_LOCATION=http://localhost:8000/files/


# fronted
VITE_BASE_URL=http://localhost:8000/api/v1/
VITE_WS_URL=http://localhost:8000/api/v1/ws
